# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
 'atom-text-editor': [
   {
     'label': 'Go to Definition'
     'command': 'atom-cscope2:goToDefinition'
   }
 ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Cscope'
      'submenu': [
        {
          'label': 'Go to Definition'
          'command': 'atom-cscope2:goToDefinition'
        }, {
          'label': 'Show Menu'
          'command': 'atom-cscope2:showMenu'
        }, {
          'label': 'Next'
          'command': 'atom-cscope2:next'
        }, {
          'label': 'Prev'
          'command': 'atom-cscope2:prev'
        }
      ]
    ]
  }
]
