# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
# 'context-menu':
#   'atom-text-editor': [
#     {
#       'label': 'Toggle atom-select-list-test'
#       'command': 'atom-select-list-test:toggle'
#     }
#   ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Cscope'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-select-list-test:toggle'
        }, {
          'label': 'Next'
          'command': 'atom-select-list-test:next'
        }, {
          'label': 'Prev'
          'command': 'atom-select-list-test:prev'
        }
      ]
    ]
  }
]
